<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Dynamic title for SEO -->
{{- partial "head/seotitle" . }}
{{- partial "seo/base" . }}
{{- partial "seo/canonical" . }}
{{- partial "seo/translations" . }}
{{- partial "seo/alternatives" . }}
{{- partial "seo/robots" . }}
{{- partial "seo/description" . }}
{{- partial "seo/favicons" . }}
{{- partial "seo/opengraph" . }}
{{- partial "seo/twitter" . }}
{{- partial "seo/schemas/_all" . }}

{{- partialCached "head/css.html" . -}}

{{/*
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<!-- Dynamic description for SEO -->
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.description }}{{ end }}">
{{- partialCached "head/favicon.html" . -}}
*/}}

{{- /* template "_internal/google_analytics.html" . */ -}}