<div class="newsform-bg max-w-7xl mx-auto my-16 rounded-3xl">
  <div class="flex flex-wrap flex-col p-6 lg:p-10 space-y-6 lg:space-y-0">
    <div class="w-full text-white">
      <div class="text-2xl font-semibold mt-3">Stay In The Loop! Subscribe to Our Newsletter.</div>
      <p>Join our community of enthusiasts and stay informed. Just enter your email below, and we'll make sure you're always in the know!</p>
    </div>

    <div class="self-center flex flex-col w-full">
      <form id="subscribe" class="block lg:flex space-y-6 lg:space-y-0 lg:space-x-4" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeCFeNlAQKsrcUj5JAQQ9PKshx29HOEpcMh51QMRM-qNUNWow/formResponse" method="POST" target="_blank">
        <input class="w-full lg:w-3/5 px-6 py-2 rounded-full" name="entry.1045781291" type="email" placeholder="Email..." required>
        <button class="w-full lg:w-2/5 px-6 py-2 rounded-full bg-white" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</div>